<html>
<head>
  <title>Traffic lights basic controls</title>

</head>
    
<body onLoad="init();">
  <h1 id="mainheader">Traffic lights basic controls</h1>
  <p id="para"></p>

  <ul>
    <li><h1><a href="/trafficlightsapi/red">Red</a></h1></li>
    <li><h1><a href="/trafficlightsapi/amber">Amber</a></h1></li>
    <li><h1><a href="/trafficlightsapi/green">Green</a></h1></li>
    <li><h1><a href="/trafficlightsapi/redamber">Red and Amber</a></h1></li>
    <li><h1><a href="/trafficlightsapi/off">Off</a></h1></li>
    <li><h1><a href="/trafficlightsapi/cycle">Cycle Lights</a></h1></li>
  </ul>

</body>
</html>
