<html>
<head>
  <title>Traffic lights</title>

<script>
  function init()
  {
    document.getElementById("para").innerHTML = "Click the lights to turn them on/off individually, Next to cycle states.";
  }

</script>
  

</head>


    
<body onLoad="init();">
  <h1 id="mainheader">Traffic lights control panel</h1>
  <p id="para"></p>
  <button onclick="nextstate()">Next</button>
  <button onclick="cycletimer = setInterval(nextstate, 3000)">Cycle lights</button>
  <button onclick="clearInterval(cycletimer)">Stop cycling</button>
  <br><br>
<svg id="svg1" width="180" height="500" style="border:3px solid #000000">
  <circle id="redlight" cx="90" cy="100" r="50" stroke="black" stroke-width="3" fill="grey" onclick="changelight('red');" />
  <circle id="amberlight" cx="90" cy="250" r="50" stroke="black" stroke-width="3" fill="grey"  onclick="changelight('amber');"/>
  <circle id="greenlight" cx="90" cy="400" r="50" stroke="black" stroke-width="3" fill="green"  onclick="changelight('green');"/>
</svg>

<script>

  var lightstate = {"red": false, "amber": false, "green": true};
  
  var colourmap = {"red": "red",
                   "amber": "orange",
                   "green": "green",
                   "off": "grey"};
  /* Allowed values: green, amber, red, redamber, other*/ 
  var cyclestate = "green";
 
  window.addEventListener( "keypress", doKeyDown, false);

  function doKeyDown(keystroke)
  {
    /*alert(keystroke.keyCode);*/

    switch(keystroke.keyCode)
    {
      case 82:
        changelight("red");
        break;
      case 114:
        changelight("red");
        break;
      case 65:
        changelight("amber");
        break;
      case 97:
        changelight("amber");
        break;
      case 71:
        changelight("green");
        break;
      case 103:
        changelight("green");
        break;
      case 13:
        nextstate();      
    }
  }
 
  function changelight(colour)
  {
    if (lightstate[colour])
    {
      /* Light currently on, turn it off. */
      setlight(colour, false);
    }
    else
    {
      /* Light currently off, turn it on. */
      setlight(colour, true);      
    }
    cyclestate = "other"; 
  }
  
  function setlight(colour, state)
  {
    /* Set state of specified light to on (true) or off (false) */ 
    var currentlight = document.getElementById(colour + "light");
    if (state)
    {
      currentlight.setAttribute("fill", colourmap[colour]);
    }
    else
    {
      currentlight.setAttribute("fill", colourmap["off"]);
    }

    lightstate[colour] = state;
  }

  function nextstate()
  {
    switch(cyclestate)
    {
      case "green":
        cyclestate = "amber";
        setlight("green", false);
        setlight("amber", true);
        break;
      case "amber":
        cyclestate = "red";
        setlight("amber", false);
        setlight("red", true);
        break;
      case "red":
        cyclestate = "redamber";
        setlight("amber", true);
        break;
      case "redamber":
        cyclestate = "green";
        setlight("green", true);
        setlight("amber", false);
        setlight("red", false);
        break;
      default:
        cyclestate = "red";
        setlight("green", false);
        setlight("amber", false);
        setlight("red", true);
    }
  }
  
</script>

</body>
</html>
