<html>
<head>
  <title>Traffic lights</title>

<script>
  function init()
  {
    document.getElementById("para").innerHTML = "Click the lights to turn on/off";
  }

</script>
  

</head>


    
<body onLoad="init();">
  <h1 id="mainheader">Traffic lights control panel</h1>
  <p id="para"></p>

<svg id="svg1" width="180" height="500" style="border:3px solid #000000">
  <circle id="redlight" cx="90" cy="100" r="50" stroke="black" stroke-width="3" fill="grey" onclick="changelight('red');" />
  <circle id="amberlight" cx="90" cy="250" r="50" stroke="black" stroke-width="3" fill="grey"  onclick="changelight('amber');"/>
  <circle id="greenlight" cx="90" cy="400" r="50" stroke="black" stroke-width="3" fill="green"  onclick="changelight('green');"/>
</svg>

<script>


  var lightstate = {"red": false, "amber": false, "green": true};
  var colourmap = {"red": "red",
                   "amber": "orange",
                   "green": "green",
                   "off": "grey"};
 
  window.addEventListener( "keypress", doKeyDown, false )

  function doKeyDown(keystroke)
  {
    switch(keystroke.keyCode)
    {
      case 82:
        changelight("red");
        alert("red");
        break;
      case 114:
        changelight("red");
        break;
      case 85:
        changelight("amber");
        break;
      case 97:
        changelight("amber");
        break;
      case 71:
        changelight("green");
        break;
      case 103:
        changelight("green");
        break;
    }
  }
 
  function changelight(colour)
  {
    var currentlight = document.getElementById(colour + "light");
        
    if (lightstate[colour])
    {
      /* Light currently on, turn it off. */
      lightstate[colour] = false;
      currentlight.setAttribute("fill", colourmap["off"]);
    }
    else
    {
      /* Light currently off, turn it on. */
      lightstate[colour] = true;
      currentlight.setAttribute("fill", colourmap[colour]);
    }
  }
  
  function cycleLights()
  {
    
  }
  
</script>

</body>
</html>
